.mainGen {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.mainHeadline {
  padding-left: 35%;
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (max-width: 1134px) {
  .mainHeadline {
    padding-left: 25%;
  }
}
@media (max-width: 870px) {
  .mainHeadline {
    padding-left: 15%;
  }
}
@media (max-width: 704px) {
  .mainHeadline {
    padding-left: 15%;
    font-size: 24px;
  }
  @media (max-width: 628px) {
    .mainHeadline {
      padding-left: 5%;
      font-size: 24px;
      text-align: center;
    }
  }
}
