.cardItem {
  width: 220;
  height: 311px;
  background-color: white;

  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 1px solid rgb(200, 198, 198);

  & img {
    width: 180px;
    height: 150px;
    justify-self: center;
    /* margin-top: 14px; */
  }
  & h4 {
    /* margin-top: 10px; */
    text-align: center;
  }
  & p {
    font-size: 13px;
  }
  & h3 {
    font-size: 15px;
  }
  & a {
    width: 92px;
    height: 30px;

    background-color: rgba(255, 204, 103, 1);
    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
  }
}
.priceInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CardItemWrapper {
  margin-top: 20px;

  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 290px 290px 290px 290px;

  gap: 60px;
}
