.CardItemWrapper {
  margin-top: 20px;
  display: grid;

  /* Створюємо колонки суворо по 220px, без розтягування (1fr) */
  grid-template-columns: repeat(auto-fill, 220px);

  /* Зменшуємо відступ між картками */
  gap: 20px;

  /* Вирівнюємо всі колонки по лівому краю */
  justify-content: start;
}
.cardItem {
  /* Обов'язково вказуйте px, інакше властивість ігнорується */
  width: 220px;
  min-height: 311px;
  background-color: white;

  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 1px solid rgb(200, 198, 198);
  box-sizing: border-box; /* Запобігає вилазінню контенту за межі 220px через padding */

  & img {
    width: 180px;
    height: 150px;
    justify-self: center;
  }
  & h4 {
    text-align: center;
  }
  & p {
    font-size: 13px;
  }
  & h3 {
    font-size: 15px;
  }
  & a {
    width: 92px;
    height: 30px;
    background-color: rgba(255, 204, 103, 1);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
  }
}
.priceInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
