/* .cardItemWrapper {
  margin-left: 60px;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 210px 210px 210px 210px 210px;
  gap: 35px;
} */
.cardItem {
  width: 250px;
  height: 311px;
  background-color: white;
  border-radius: 15px;
  & img {
    width: 180px;
    height: 150px;
  }
}
