.parent table {
  width: 100%;
  /* Об'єднує подвійні рамки в одну суцільну сітку */
  border-collapse: collapse;
  margin: 20px 0;
  background-color: rgba(248, 248, 248, 1);
}

/* Налаштування сітки для заголовків і комірок */
.parent th,
.parent td {
  /* товщина | тип лінії | колір */
  border: 2px solid #4a5568;

  text-align: left;
}
/* Необов'язково: виділення заголовка таблиці */
.parent th {
  background-color: #2d3748;
  color: #ffffff;
  font-weight: bold;
}

/* Необов'язково: чергування кольору рядків (зебра) */
.parent tr:nth-child(even) {
  background-color: rgba(209, 214, 214, 1);
}
/* Якщо комірка порожня або містить тільки пробіли, прибираємо ліву межу суміжної комірки */
.parent td:empty {
  border-left: none !important;
}

/* Якщо наступна комірка порожня, прибираємо праву межу у поточної */
.parent td:has(+ td:empty) {
  border-right: none !important;
  font-weight: bold;
  text-align: center;
}
