.cardWrapper {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
  row-gap: 45px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  width: 290px;
  height: 335px;
}
.categoryCard {
  border: 1px solid rgb(200, 198, 198);
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 335px;
  padding: 10px;
  background-color: white;
  /* border-radius: 15px; */

  /* 1. Базовий стан тіні та позиції */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* 2. Обов'язково додаємо плавність анімації (0.3 секунди) */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  cursor: pointer; /* Змінює курсор на вказівний палець */
  & img {
    width: 189px;
    height: 134px;
    align-self: center;
    margin-top: 20px;
  }
  & p {
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 18px;
    text-align: center;
    margin-top: 30px;
  }
}
.categoryCard:hover {
  /* Піднімає картку на 8 пікселів вгору */
  transform: translateY(-8px);

  /* Збільшує та розмиває тінь, створюючи ефект висоти */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}
